<!-- Code that all your layouts share -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ .Title }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
    <link rel="icon" href="{{ .Site.BaseURL }}images/favicon.png">
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
  </body>
</html>
